teeworlds-serv:
  hosts:
    <ip-or-fqdn>:
  vars:
    teeworlds_server_name: my-teeworlds-server
    extra_configs: |
      sv_max_clients 30
      sv_max_clients_per_ip 30
      sv_register 0
      password gandi

minetest-serv:
  hosts:
    <ip-or-fqdn>:

xonotic-serv:
  hosts:
    <ip-or-fqdn>:
